/**
 * [Table of contents]
 */
/*
* Contexts
*/
.context-dark, .bg-gray-700, .bg-primary,
.context-dark h1,
.bg-gray-700 h1,
.bg-primary h1, .context-dark h2, .bg-gray-700 h2, .bg-primary h2, .context-dark h3, .bg-gray-700 h3, .bg-primary h3, .context-dark h4, .bg-gray-700 h4, .bg-primary h4, .context-dark h5, .bg-gray-700 h5, .bg-primary h5, .context-dark h6, .bg-gray-700 h6, .bg-primary h6, .context-dark [class^='heading-'], .bg-gray-700 [class^='heading-'], .bg-primary [class^='heading-'] {
	color: #ffffff;
}

a:focus,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0;
}

*:focus {
	outline: none;
}

blockquote {
	padding: 0;
	margin: 0;
}

input,
button,
select,
textarea {
	outline: none;
}

label {
	margin-bottom: 0;
}

p {
	margin: 0;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul li,
ol li {
	display: block;
}

dl {
	margin: 0;
}

dt,
dd {
	line-height: inherit;
}

dt {
	font-weight: inherit;
}

dd {
	margin-bottom: 0;
}

cite {
	font-style: normal;
}

form {
	margin-bottom: 0;
}

blockquote {
	padding-left: 0;
	border-left: 0;
}

address {
	margin-top: 0;
	margin-bottom: 0;
}

figure {
margin-top: 100px;
	margin-bottom: 50px;
}

html p a:hover {
	text-decoration: none;
}

/** @group Components */
/*
* Typography
*/
body {
	font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: .075em;
	color: #9b9b9b;
	background-color: #ffffff;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1, h2, h3, h4, h5, h6, [class^='heading-'] {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-family: inherit;
	color: #151515;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, [class^='heading-'] a {
	color: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, [class^='heading-'] a:hover {
	color: #ffb95f;
}

h1,
.heading-1 {
	font-size: 36px;
	line-height: 1.23529;
	letter-spacing: .03em;
}

@media (min-width: 768px) {
	h1,
	.heading-1 {
		font-size: 46px;
	}
}

@media (min-width: 992px) {
	h1,
	.heading-1 {
		font-size: 54px;
	}
}

@media (min-width: 1200px) {
	h1,
	.heading-1 {
		font-size: 68px;
	}
}

h2,
.heading-2 {
	font-size: 30px;
	line-height: 1.09091;
	font-weight: 400;
}

@media (min-width: 768px) {
	h2,
	.heading-2 {
		font-size: 34px;
	}
}

@media (min-width: 992px) {
	h2,
	.heading-2 {
		font-size: 40px;
	}
}

@media (min-width: 1200px) {
	h2,
	.heading-2 {
		font-size: 44px;
	}
}

h3,
.heading-3 {
	font-size: 26px;
	line-height: 1.27778;
	font-weight: 400;
}

@media (min-width: 768px) {
	h3,
	.heading-3 {
		font-size: 30px;
	}
}

@media (min-width: 992px) {
	h3,
	.heading-3 {
		font-size: 36px;
	}
}

h4,
.heading-4 {
	font-size: 20px;
	line-height: 1.25;
	font-weight: 300;
}

@media (min-width: 768px) {
	h4,
	.heading-4 {
		font-size: 24px;
	}
}

h5,
.heading-5 {
	font-size: 18px;
	line-height: 1.27273;
	font-weight: 300;
	letter-spacing: .15em;
}

@media (min-width: 768px) {
	h5,
	.heading-5 {
		font-size: 22px;
	}
}

h6,
.heading-6 {
	font-size: 16px;
	line-height: 1.33333;
}

@media (min-width: 768px) {
	h6,
	.heading-6 {
		font-size: 18px;
	}
}

small,
.small {
	display: block;
	font-size: 12px;
	line-height: 1.5;
}

mark,
.mark {
	padding: 3px 5px;
	color: #ffffff;
	background: #ffb95f;
}

.big {
	font-size: 18px;
	line-height: 1.44444;
	letter-spacing: .075em;
}

.lead {
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
}

code {
	padding: 10px 5px;
	border-radius: 0.2rem;
	font-size: 90%;
	color: #111111;
	background: #f5f5f5;
}

p [data-toggle='tooltip'] {
	padding-left: .25em;
	padding-right: .25em;
	color: #ffb95f;
}

p [style*='max-width'] {
	display: inline-block;
}

::selection {
	background: #ffb95f;
	color: #ffffff;
}

::-moz-selection {
	background: #ffb95f;
	color: #ffffff;
}

/*
* Brand
*/
.brand {
	display: inline-block;
}

.brand .brand-logo-light {
	display: none;
}

.brand .brand-logo-dark {
	display: block;
}

/*
* Links
*/
a {
	transition: all 0.3s ease-in-out;
}

a, a:focus, a:active, a:hover {
	text-decoration: none;
}

a, a:focus, a:active {
	color: #ffb95f;
}

a:hover {
	color: #ff9813;
}

a[href*='tel'], a[href*='mailto'] {
	white-space: nowrap;
}

.link-hover {
	color: #ff9813;
}

.link-press {
	color: #ff9813;
}

* + .privacy-link {
	margin-top: 25px;
}

/*
* Blocks
*/
.block-center, .block-sm, .block-lg {
	margin-left: auto;
	margin-right: auto;
}

.block-sm {
	max-width: 560px;
}

.block-lg {
	max-width: 768px;
}

.block-center {
	padding: 10px;
}

.block-center:hover .block-center-header {
	background-color: #ffb95f;
}

.block-center-title {
	background-color: #ffffff;
}

@media (max-width: 1599.98px) {
	.block-center {
		padding: 20px;
	}
	.block-center:hover .block-center-header {
		background-color: #ffffff;
	}
	.block-center-header {
		background-color: #ffb95f;
	}
}

/*
* Boxes
*/
.box-icon-classic {
	text-align: left;
	transition: all .2s ease;
	z-index: 1;
}

.box-icon-classic-icon {
	display: inline-block;
	text-align: center;
	height: 90px;
	width: 90px;
	margin-top: 4px;
	font-size: 40px;
	line-height: 90px;
	color: #151515;
	background: #f3f3f3;
	border-radius: 50%;
	box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.15);
	animation: iconClassic 14s ease-in-out infinite;
}

.box-icon-classic-title {
	font-weight: 500;
	letter-spacing: .05em;
	text-transform: none;
}

.box-icon-classic-title a, .box-icon-classic-title a:focus, .box-icon-classic-title a:active {
	color: inherit;
}

.box-icon-classic-title a:hover {
	color: #ffb95f;
}

.box-icon-classic-text {
	line-height: 1.47;
	letter-spacing: .05em;
	color: rgba(21, 21, 21, 0.8);
}

* + .box-icon-classic-text {
	margin-top: 20px;
}

@keyframes iconClassic {
	45% {
		color: #151515;
		background: #f3f3f3;
	}
	50% {
		color: #ffffff;
		background: #ffb95f;
	}
	95% {
		color: #ffffff;
		background: #ffb95f;
	}
}

@media (min-width: 1200px) {
	.box-icon-classic-text {
		max-width: 95%;
	}
}

.box-layout-figure-wrap {
	position: relative;
}

.box-layout-figure-wrap::before {
	position: absolute;
	content: '';
	top: 25px;
	right: 10px;
	bottom: 0;
	left: 10px;
	z-index: -1;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.box-layout-figure {
	position: relative;
	overflow: hidden;
	display: block;
	padding-bottom: 71%;
	z-index: 1;
}

.box-layout-figure img {
	display: inline-block;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: all 5s linear;
	will-change: transform, margin-top;
}

.box-layout-title {
	font-weight: 400;
	letter-spacing: .025em;
	text-transform: none;
}

* + .box-layout-title {
	margin-top: 35px;
}

.desktop .box-layout:hover .box-layout-figure img {
	transform: translate3d(0, -100%, 0);
}

.desktop .box-layout-long:hover .box-layout-figure img {
	margin-top: 114%;
}

@media (min-width: 992px) {
	.box-layout-long .box-layout-figure {
		padding-bottom: 114%;
	}
}

.box-pages-figure {
	position: relative;
	display: block;
	will-change: transform;
	transition: all .3s ease;
}

.box-pages-figure::before {
	position: absolute;
	content: '';
	top: 25px;
	right: 10px;
	bottom: 0;
	left: 10px;
	z-index: -1;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.box-pages-title {
	font-weight: 400;
	letter-spacing: .025em;
	text-transform: none;
}

* + .box-pages-title {
	margin-top: 36px;
}

.box-pages:hover .box-pages-figure {
	transform: translate3d(0, -15px, 0);
}

.box-device {
	position: relative;
	display: block;
	transform-origin: 0 50%;
	transition: all .5s ease-in-out;
}

.box-device img {
	width: 100%;
}

.box-info-title {
	font-weight: 400;
	letter-spacing: .025em;
	text-transform: none;
}

.box-info-title .icon {
	font-size: 18px;
	color: #5ac6e2;
	margin-right: 10px;
}

.box-info-title > * {
	display: inline-block;
	vertical-align: middle;
}

.box-info-text {
	letter-spacing: .03em;
}

.box-image-right {
	position: absolute;
	display: none;
	top: 50%;
	right: -245px;
	transform: translate3d(0, -50%, 0);
	z-index: -1;
}

@media (min-width: 1600px) {
	.box-image-right {
		display: block;
	}
}

/*
* Element groups
*/
html .group {
	margin-bottom: -20px;
	margin-left: -15px;
}

html .group:empty {
	margin-bottom: 0;
	margin-left: 0;
}

html .group > * {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 15px;
}

html .group-sm {
	margin-bottom: -10px;
	margin-left: -10px;
}

html .group-sm:empty {
	margin-bottom: 0;
	margin-left: 0;
}

html .group-sm > * {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 10px;
}

html .group-xl {
	margin-bottom: -20px;
	margin-left: -30px;
}

html .group-xl:empty {
	margin-bottom: 0;
	margin-left: 0;
}

html .group-xl > * {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 30px;
}

@media (min-width: 992px) {
	html .group-xl {
		margin-bottom: -20px;
		margin-left: -45px;
	}
	html .group-xl > * {
		margin-bottom: 20px;
		margin-left: 45px;
	}
}

html .group-middle {
	display: inline-flex;
	align-items: center;
}

html .group-custom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 100%;
}

html .group-custom > * {
	flex: 0 1 100%;
	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: 576px) {
	html .group-custom {
		flex-wrap: nowrap;
	}
	html .group-custom > * {
		flex: 1 1 auto;
	}
}

* + .group-sm {
	margin-top: 30px;
}

* + .group-xl {
	margin-top: 20px;
}

/*
* Responsive units
*/
.unit {
	display: flex;
	flex: 0 1 100%;
	margin-bottom: -20px;
	margin-left: -30px;
}

.unit > * {
	margin-bottom: 20px;
	margin-left: 30px;
}

.unit:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.unit-body {
	flex: 0 1 auto;
}

.unit-left,
.unit-right {
	flex: 0 0 auto;
	max-width: 100%;
}

.unit-spacing-xxs {
	margin-bottom: -5px;
	margin-left: -5px;
}

.unit-spacing-xxs > * {
	margin-bottom: 5px;
	margin-left: 5px;
}

.unit-spacing-xs {
	margin-bottom: -10px;
	margin-left: -10px;
}

.unit-spacing-xs > * {
	margin-bottom: 10px;
	margin-left: 10px;
}

.unit-spacing-sm {
	margin-bottom: -15px;
	margin-left: -15px;
}

.unit-spacing-sm > * {
	margin-bottom: 15px;
	margin-left: 15px;
}

.unit-spacing-md {
	margin-bottom: -20px;
	margin-left: -20px;
}

.unit-spacing-md > * {
	margin-bottom: 20px;
	margin-left: 20px;
}

.unit-spacing-lg {
	margin-bottom: -30px;
	margin-left: -30px;
}

.unit-spacing-lg > * {
	margin-bottom: 30px;
	margin-left: 30px;
}

.unit-spacing-xl {
	margin-bottom: -20px;
	margin-left: -40px;
}

.unit-spacing-xl > * {
	margin-bottom: 20px;
	margin-left: 40px;
}

/*
* Lists
*/
/*
* Vertical list
*/
.list > li + li {
	margin-top: 10px;
}

.list-xs > li + li {
	margin-top: 5px;
}

.list-sm > li + li {
	margin-top: 10px;
}

.list-md > li + li {
	margin-top: 18px;
}

.list-lg > li + li {
	margin-top: 25px;
}

.list-xl > li + li {
	margin-top: 30px;
}

@media (min-width: 768px) {
	.list-xl > li + li {
		margin-top: 60px;
	}
}

/*
* List inline
*/
.list-inline > li {
	display: inline-block;
}

html .list-inline-md {
	transform: translate3d(0, -8px, 0);
	margin-bottom: -8px;
	margin-left: -10px;
	margin-right: -10px;
}

html .list-inline-md > * {
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 992px) {
	html .list-inline-md {
		margin-left: -15px;
		margin-right: -15px;
	}
	html .list-inline-md > * {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/*
* List terms
*/
.list-terms dt + dd {
	margin-top: 5px;
}

.list-terms dd + dt {
	margin-top: 25px;
}

* + .list-terms {
	margin-top: 25px;
}

/*
* Index list
*/
.index-list {
	counter-reset: li;
}

.index-list > li .list-index-counter:before {
	content: counter(li, decimal-leading-zero);
	counter-increment: li;
}

/*
* Marked list
*/
.list-marked {
	padding-left: 25px;
	text-align: left;
}

.list-marked > li {
	text-indent: -25px;
	padding-left: 25px;
}

.list-marked > li::before {
	position: relative;
	display: inline-block;
	left: 25px;
	top: -1px;
	min-width: 25px;
	content: '\f105';
	font: 400 14px/24px 'FontAwesome';
	color: #b7b7b7;
}

.list-marked > li + li {
	margin-top: 4px;
}

* + .list-marked {
	margin-top: 15px;
}

p + .list-marked {
	margin-top: 10px;
}

/*
* Ordered List
*/
.list-ordered {
	counter-reset: li;
	padding-left: 25px;
	text-align: left;
}

.list-ordered > li {
	position: relative;
	padding-left: 25px;
}

.list-ordered > li:before {
	content: counter(li, decimal) ".";
	counter-increment: li;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 15px;
	color: #b7b7b7;
}

.list-ordered > li + li {
	margin-top: 10px;
}

* + .list-ordered {
	margin-top: 15px;
}

/*
* Images
*/
img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.img-responsive {
	width: 100%;
}

/*
* Icons
*/
.icon {
	display: inline-block;
	font-size: 16px;
	line-height: 1;
}

.icon::before {
	position: relative;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-transform: none;
}

.icon-circle {
	border-radius: 50%;
}

/*
* Dividers
*/
hr {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #ebebeb;
}

.hr-gray-300 {
border-color: #e1e1e1;
}

.hr-gray-1 {
border-color: #d7d7d7;
}

.divider {
	font-size: 0;
	line-height: 0;
}

.divider::after {
	content: '';
	display: inline-block;
	width: 60px;
	height: 2px;
	background-color: #ffb95f;
}

* + hr {
	margin-top: 30px;
}

hr + .row {
	margin-top: 30px;
}

/*
*
* Buttons
*/
.button {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 17px 50px;
	font-size: 14px;
	line-height: 1.85;
	border: none;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 900;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: all .25s ease-in-out;
}

@media (min-width: 768px) {
	.button {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

.button-block {
	display: block;
	width: 100%;
}

.button-outline {
	z-index: 1;
}

.button-outline::before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid;
	transition: all .25s ease-in-out;
	pointer-events: none;
	z-index: -1;
}

.button-default, .button-default:focus {
	color: #e1e1e1;
	background-color: #2c343b;
	border-color: #2c343b;
}

.button-default:hover, .button-default:active {
	color: #ffffff;
	background-color: #ffb95f;
	border-color: #ffb95f;
}

.button-default.button-ujarak::before {
	background: #ffb95f;
}

.button-primary, .button-primary:focus {
	color: #ffffff;
	background-color: #ffb95f;
	border-color: #ffb95f;
}

.button-primary:hover, .button-primary:active {
	color: #ffffff;
	background-color: #151515;
	border-color: #151515;
}

.button-primary.button-ujarak::before {
	background: #151515;
}

.button-ghost {
	border: 0;
	background-color: transparent;
}

.button-ghost:hover {
	color: #ffffff;
	background: #ffb95f;
}

.button-facebook, .button-facebook:focus {
	color: #ffffff;
	background-color: #4d70a8;
	border-color: #4d70a8;
}

.button-facebook:hover, .button-facebook:active {
	color: #ffffff;
	background-color: #456497;
	border-color: #456497;
}

.button-facebook.button-ujarak::before {
	background: #456497;
}

.button-twitter, .button-twitter:focus {
	color: #ffffff;
	background-color: #02bcf3;
	border-color: #02bcf3;
}

.button-twitter:hover, .button-twitter:active {
	color: #ffffff;
	background-color: #02a8da;
	border-color: #02a8da;
}

.button-twitter.button-ujarak::before {
	background: #02a8da;
}

.button-google, .button-google:focus {
	color: #ffffff;
	background-color: #e2411e;
	border-color: #e2411e;
}

.button-google:hover, .button-google:active {
	color: #ffffff;
	background-color: #cc3a1a;
	border-color: #cc3a1a;
}

.button-google.button-ujarak::before {
	background: #cc3a1a;
}

.button-ujarak {
	position: relative;
	z-index: 0;
	transition: background .4s, border-color .4s, color .4s;
}

.button-ujarak::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffb95f;
	z-index: -1;
	opacity: 0;
	transform: scale3d(0.7, 1, 1);
	transition: transform 0.42s, opacity 0.42s;
	border-radius: inherit;
}

.button-ujarak, .button-ujarak::before {
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button-ujarak:hover {
	transition: background .4s .4s, border-color .4s 0s, color .2s 0s;
}

.button-ujarak:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

.button-xs {
	padding: 12px 25px;
	font-size: 12px;
	line-height: 2.17;
}

.button-sm {
	padding: 12px 40px;
	font-size: 12px;
	line-height: 2.17;
}

@media (min-width: 768px) {
	.button-sm {
		padding-top: 17px;
		padding-bottom: 17px;
	}
}

.button-lg {
	padding: 20px 55px;
	font-size: 14px;
	line-height: 1.85;
}

@media (min-width: 768px) {
	.button-lg {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (min-width: 992px) {
	.button-lg {
		min-width: 250px;
	}
}

.button-circle {
	border-radius: 30px;
}

.button-round-1 {
	border-radius: 5px;
}

.button-round-2 {
	border-radius: 10px;
}

.button-winona {
	overflow: hidden;
}

.content-original,
.content-dubbed {
	transition: transform .3s, opacity .3s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content-dubbed {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: translate3d(0, 20%, 0);
	pointer-events: none;
}

.button-winona:hover .content-original {
	opacity: 0;
	transform: translate3d(0, -50%, 0);
}

.button-winona:hover .content-dubbed {
	opacity: 1;
	transform: none;
}

.btn-primary {
	border-radius: 3px;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-weight: 900;
	letter-spacing: .05em;
	text-transform: uppercase;
	transition: .33s;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
	color: #ffffff;
	background: #ffb95f;
	border-color: #ffb95f;
}

.btn-primary:hover {
	color: #ffffff;
	background: #000000;
	border-color: #000000;
}

.button-social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: -12px;
	margin-left: -12px;
}

.button-social:empty {
	margin-bottom: 0;
	margin-left: 0;
}

.button-social > * {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 12px;
	margin-left: 12px;
}

.button-social > * {
	min-width: 175px;
	flex-grow: 1;
}

.button-social .button {
	padding-left: 20px;
	padding-right: 20px;
}

.button-social * + .button {
	margin-top: 0;
}

.button-width-auto {
	min-width: auto;
}

.button-width-240 {
	min-width: 240px;
}

.button-tags {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 7px 20px;
	font-size: 12px;
	line-height: 24px;
	border-width: 1px;
	border-style: solid;
	font-weight: 700;
	letter-spacing: .05em;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	user-select: none;
	transition: all .25s ease-in-out;
}

.button-tags, .button-tags:focus {
	color: #9b9b9b;
	background-color: transparent;
	border-color: #e1e1e1;
}

.button-tags:hover, .button-tags:active {
	color: #151515;
	background-color: #5ac6e2;
	border-color: #5ac6e2;
}

/*
* Footers
*/
.footer-classic {
	padding: 20px 0;
	background: #ffffff;
}

@media (min-width: 768px) {
	.footer-classic {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

@media (min-width: 1200px) {
	.footer-classic {
		padding-top: 42px;
		padding-bottom: 42px;
	}
}

/** @group Helpers */
/*
* Page layout
*/
.page {
	position: relative;
	text-align: center;
	overflow: hidden;
	min-height: 100vh;
	opacity: 0;
}

.page.fadeIn {
	animation-timing-function: ease-out;
}

.page.fadeOut {
	animation-timing-function: ease-in;
}

[data-x-mode] .page {
	opacity: 1;
}

html.boxed body {
	background: #f5f5f5 url(../images/bg-pattern-boxed.png) repeat fixed;
}

@media (min-width: 1630px) {
	html.boxed .page {
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 23px 0 rgba(1, 1, 1, 0.1);
	}
	html.boxed .rd-navbar-static {
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
	html.boxed .rd-navbar-static.rd-navbar--is-stuck {
		max-width: 1600px;
		width: 100%;
		left: calc(50% - 1600px);
		right: calc(50% - 1600px);
	}
}

/*
* Text styling
*/
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

.font-weight-thin {
	font-weight: 100;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-regular {
	font-weight: 400;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-sbold {
	font-weight: 600;
}

.font-weight-bold {
	font-weight: 700;
}

.font-weight-ubold {
	font-weight: 900;
}

.text-spacing-0 {
	letter-spacing: 0;
}

.text-primary {
	color: #ffb95f !important;
}

.text-spacing-0 {
	letter-spacing: 0;
}

.text-spacing-25 {
	letter-spacing: .025em;
}

.text-spacing-50 {
	letter-spacing: .05em;
}

.text-spacing-75 {
	letter-spacing: .075em;
}

.text-spacing-100 {
	letter-spacing: .1em;
}

.text-spacing-180 {
	letter-spacing: .18em;
}

.text-spacing-200 {
	letter-spacing: .2em;
}

.text-spacing-500 {
	letter-spacing: .5em;
}

.text-width-small {
	max-width: 500px;
}

.text-width-medium {
	max-width: 550px;
}

.text-width-large {
	max-width: 780px;
}

.text-center [class*='text-width-'] {
	margin-left: auto;
	margin-right: auto;
}

/*
*
* Offsets
*/
* + p {
	margin-top: 15px;
}

* + img {
	margin-top: 30px;
}

h2 + h4 {
	margin-top: 30px;
}

h4 + h1 {
	margin-top: 18px;
}

h5 + h1 {
	margin-top: 18px;
}

h1 + p {
	margin-top: 8px;
}

h2 + p {
	margin-top: 14px;
}

h3 + p {
	margin-top: 14px;
}

h4 + p {
	margin-top: 12px;
}

h5 + p {
	margin-top: 12px;
}

h6 + p {
	margin-top: 12px;
}

p + h1,
p + .heading-2 {
	margin-top: 15px;
}

p + p {
	margin-top: 12px;
}

img + p {
	margin-top: 35px;
}

h2 + img {
	margin-top: 42px;
}

* + .row {
	margin-top: 30px;
}

* + .row-xs {
	margin-top: 20px;
}

* + .row-sm {
	margin-top: 40px;
}

* + .row-md {
	margin-top: 45px;
}

* + .row-lg {
	margin-top: 50px;
}

* + .row-xl {
	margin-top: 60px;
}

* + .row-xxl {
	margin-top: 70px;
}

* + .big {
	margin-top: 30px;
}

* + .button {
	margin-top: 40px;
}

* + .text-block {
	margin-top: 32px;
}

* + .owl-carousel {
	margin-top: 50px;
}

.row + h3 {
	margin-top: 80px;
}

.heading-7 + h3 {
	margin-top: 16px;
}

.link-logo + h5 {
	margin-top: 60px;
}

.container + .container {
	margin-top: 35px;
}

.container + .container-fluid {
	margin-top: 45px;
}

.row + .button-wrap {
	margin-top: 40px;
}

.row + .row {
	margin-top: 35px;
}

h4 + .big {
	margin-top: 14px;
}

h1 + .button {
	margin-top: 30px;
}

@media (min-width: 576px) {
	h1 + .button {
		margin-top: 50px;
	}
}

@media (min-width: 992px) {
	h5 + p {
		margin-top: 16px;
	}
	h6 + p {
		margin-top: 22px;
	}
	.row + .button-wrap {
		margin-top: 60px;
	}
}

@media (min-width: 1200px) {
	.container + .container {
		margin-top: 60px;
	}
	.row + .row {
		margin-top: 60px;
	}
}

@media (min-width: 1600px) {
	.link-logo + h5 {
		margin-top: 100px;
	}
}

.row-0 {
	margin-bottom: 0px;
}

.row-0:empty {
	margin-bottom: 0;
}

.row-0 > * {
	margin-bottom: 0px;
}

.row-8 {
	margin-bottom: -8px;
}

.row-8:empty {
	margin-bottom: 0;
}

.row-8 > * {
	margin-bottom: 8px;
}

.row-15 {
	margin-bottom: -15px;
}

.row-15:empty {
	margin-bottom: 0;
}

.row-15 > * {
	margin-bottom: 15px;
}

.row-14 {
	margin-bottom: -14px;
}

.row-14:empty {
	margin-bottom: 0;
}

.row-14 > * {
	margin-bottom: 14px;
}

.row-20 {
	margin-bottom: -20px;
}

.row-20:empty {
	margin-bottom: 0;
}

.row-20 > * {
	margin-bottom: 20px;
}

.row-30 {
	margin-bottom: -30px;
}

.row-30:empty {
	margin-bottom: 0;
}

.row-30 > * {
	margin-bottom: 30px;
}

.row-40 {
	margin-bottom: -40px;
}

.row-40:empty {
	margin-bottom: 0;
}

.row-40 > * {
	margin-bottom: 40px;
}

.row-50 {
	margin-bottom: -50px;
}

.row-50:empty {
	margin-bottom: 0;
}

.row-50 > * {
	margin-bottom: 50px;
}

.row-60 {
	margin-bottom: -60px;
}

.row-60:empty {
	margin-bottom: 0;
}

.row-60 > * {
	margin-bottom: 60px;
}

@media (min-width: 768px) {
	.row-md-40 {
		margin-bottom: -40px;
	}
	.row-md-40:empty {
		margin-bottom: 0;
	}
	.row-md-40 > * {
		margin-bottom: 40px;
	}
}

@media (min-width: 992px) {
	.row-lg-0 {
		margin-bottom: 0px;
	}
	.row-lg-0:empty {
		margin-bottom: 0;
	}
	.row-lg-0 > * {
		margin-bottom: 0px;
	}
	.row-lg-60 {
		margin-bottom: -60px;
	}
	.row-lg-60:empty {
		margin-bottom: 0;
	}
	.row-lg-60 > * {
		margin-bottom: 60px;
	}
}

.nav-custom-2 > * {
	top: 70% !important;
}

@media (min-width: 1200px) {
	.row-xl-60 {
		margin-bottom: -60px;
	}
	.row-xl-60:empty {
		margin-bottom: 0;
	}
	.row-xl-60 > * {
		margin-bottom: 60px;
	}
	.row-xl-75 {
		margin-bottom: -75px;
	}
	.row-xl-75:empty {
		margin-bottom: 0;
	}
	.row-xl-75 > * {
		margin-bottom: 75px;
	}
	.row-xl-90 {
		margin-bottom: -90px;
	}
	.row-xl-90:empty {
		margin-bottom: 0;
	}
	.row-xl-90 > * {
		margin-bottom: 90px;
	}
}

@media (min-width: 992px) {
	.desktop .row-desktop-0 {
		margin-bottom: 0px;
	}
	.desktop .row-desktop-0:empty {
		margin-bottom: 0;
	}
	.desktop .row-desktop-0 > * {
		margin-bottom: 0px;
	}
	.desktop .row-desktop-8 {
		margin-bottom: -8px;
	}
	.desktop .row-desktop-8:empty {
		margin-bottom: 0;
	}
	.desktop .row-desktop-8 > * {
		margin-bottom: 8px;
	}
	.desktop * + .row-desktop-0 {
		margin-top: 20px;
	}
}

/*
*
* Sections
*/
.section-sm {
	padding: 30px 0;
}

.section-sm.section-first {
	padding-top: 60px;
}

.section-sm.section-last {
	padding-bottom: 60px;
}

.section-md,
.section-lg,
.section-xl,
.section-xxl {
	padding: 50px 0;
}

.section-style-1 {
	padding: 50px 0 30%;
}

.section-collapse + .section-collapse {
	padding-top: 0;
}

.section-collapse:last-child {
	padding-bottom: 0;
}

html [class*='section-'].section-bottom-0 {
	padding-bottom: 0;
}

@media (min-width: 576px) {
	.section-style-1 {
		padding-bottom: 20%;
	}
}

@media (min-width: 768px) {
	.section-sm {
		padding: 40px 0;
	}
	.section-sm.section-first {
		padding-top: 80px;
	}
	.section-sm.section-last {
		padding-bottom: 80px;
	}
	.section-md {
		padding: 70px 0;
	}
	.section-lg {
		padding: 80px 0;
	}
	.section-xl {
		padding: 90px 0;
	}
	.section-xxl {
		padding: 100px 0;
	}
	.section-style-1 {
		padding: 60px 0 16%;
	}
	[class*='section-'].section-bottom-md-70 {
		padding-bottom: 70px;
	}
}

@media (min-width: 992px) {
	.section-sm {
		padding: 45px 0;
	}
	.section-sm.section-first {
		padding-top: 90px;
	}
	.section-sm.section-last {
		padding-bottom: 90px;
	}
	.section-md {
		padding: 80px 0;
	}
	.section-lg {
		padding: 90px 0;
	}
	.section-xl {
		padding: 110px 0;
	}
	.section-xxl {
		padding: 120px 0;
	}
}

@media (min-width: 1600px) {
	[class*='section-'].section-bottom-xxl-170 {
		padding-bottom: 170px;
	}
}

.section-single {
	display: flex;
	text-align: center;
}

.section-single p {
	margin-left: auto;
	margin-right: auto;
}

.section-single .rd-form {
	max-width: 690px;
	margin-left: auto;
	margin-right: auto;
}

.section-single .button {
	padding-left: 40px;
	padding-right: 40px;
	letter-spacing: .3em;
	min-width: auto;
}

.section-single * + .button {
	margin-top: 45px;
}

.section-single * + .countdown-wrap {
	margin-top: 35px;
}

.section-single * + .rd-form {
	margin-top: 20px;
}

.section-single .countdown-wrap + * {
	margin-top: 35px;
}

@media (min-width: 992px) {
	.section-single * + .countdown-wrap {
		margin-top: 50px;
	}
	.section-single .countdown-wrap + * {
		margin-top: 56px;
	}
}

.section-single .rd-mailform-wrap {
	max-width: 670px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.section-single * + .rd-mailform-wrap {
	margin-top: 20px;
}

.section-single-header {
	padding: calc(1em + 4vh) 0 calc(1em + 2vh);
}

.section-single-main {
	padding: calc(1em + 2vh) 0 calc(1em + 6vh);
}

.section-single-footer {
	padding: calc(1em + 2vh) 0;
}

.section-single-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	min-height: 100vh;
}

.section-single-inner > * {
	width: 100%;
}

@supports (display: grid) {
	.section-single-inner {
		display: grid;
		justify-items: center;
		align-content: space-between;
		grid-template-columns: 1fr;
	}
}

@media (min-width: 1200px) {
	.section-single-header {
		padding-top: calc(1em + 8vh);
	}
	.section-single-footer {
		padding-bottom: calc(1em + 4vh);
	}
}

.section-relative {
	position: relative;
	z-index: 1;
}

@media (min-width: 1600px) {
	.section-fluid {
		padding-left: 75px;
		padding-right: 75px;
	}
	.section-fluid .container-fluid {
		max-width: 1770px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
	.section-carousel {
		padding-left: 90px;
		padding-right: 90px;
	}
	.section-carousel .container-fluid {
		max-width: 1740px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

/*
* Grid modules
*/
.grid-demo {
	letter-spacing: 0;
	text-align: center;
}

.grid-demo p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid-demo * + p {
	margin-top: 5px;
}

.grid-demo * + .row {
	margin-top: 20px;
}

.grid-demo .row + .row {
	margin-top: 0;
}

@media (min-width: 1200px) {
	.grid-demo {
		text-align: left;
	}
	.grid-demo p {
		white-space: normal;
		overflow: visible;
		text-overflow: unset;
	}
	.grid-demo * + p {
		margin-top: 25px;
	}
}

.grid-demo-bordered .row {
	border: 0 solid #ebebeb;
	border-top-width: 1px;
}

.grid-demo-bordered .row:last-child {
	border-bottom-width: 1px;
}

.grid-demo-bordered [class*='col'] {
	padding: 5px 15px;
}

.grid-demo-bordered [class*='col']:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;
	border-left: 1px solid #ebebeb;
}

@media (min-width: 768px) {
	.grid-demo-bordered [class*='col'] {
		padding: 30px;
	}
}

@media (min-width: 1200px) {
	.grid-demo-bordered [class*='col'] {
		padding: 50px 50px 45px;
	}
}

.grid-demo-underlined .row {
	border-bottom: 1px solid #ebebeb;
}

.grid-demo-underlined [class*='col'] {
	padding: 5px 15px;
}

@media (min-width: 768px) {
	.grid-demo-underlined [class*='col'] {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

@media (min-width: 1200px) {
	.grid-demo-underlined [class*='col'] {
		padding-top: 45px;
		padding-bottom: 45px;
	}
}

/*
* Backgrounds
*/
.context-dark .brand .brand-logo-dark, .bg-gray-700 .brand .brand-logo-dark, .bg-primary .brand .brand-logo-dark {
	display: none;
}

.context-dark .brand .brand-logo-light, .bg-gray-700 .brand .brand-logo-light, .bg-primary .brand .brand-logo-light {
	display: block;
}

/*
* Light Backgrounds
*/
.bg-default {
	background-color: #ffffff;
}

.bg-gray-100 {
	background-color: #f5f5f5;
}

/*
* Dark Backgrounds
*/
.bg-gray-700 {
	background-color: #2c343b;
}

/*
* Accent Backgrounds
*/
.bg-primary + .bg-primary {
	padding-top: 0;
}

/*
* Background Image
*/
[class^='bg-'] {
	background-size: cover;
	background-position: center center;
}

@media (min-width: 992px) {
	html:not(.tablet):not(.mobile) .bg-fixed {
		background-attachment: fixed;
	}
}

/*
// Background Custom
*/
.bg-image-right {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 9%;
	border-bottom-left-radius: 90px;
	background-image: url(../images/bg-index-3.jpg);
	z-index: -2;
}

.bg-image-left {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	bottom: 10%;
	right: 10%;
	border-bottom-right-radius: 90px;
	background-image: url(../images/bg-index-2.jpg);
	z-index: -1;
}

@media (min-width: 576px) {
	.bg-image-right {
		border-radius: 0 0 90px 90px;
	}
	.bg-image-left {
		right: 40%;
	}
}

@media (min-width: 768px) {
	.bg-image-left {
		right: calc(50% - 30px);
	}
}

@media (min-width: 992px) {
	.bg-image-left {
		bottom: 14%;
		right: calc(50% + 15px);
	}
}

/*
* Utilities custom
*/
.height-fill {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.height-fill > * {
	flex-grow: 1;
	flex-shrink: 0;
}

.object-inline {
	white-space: nowrap;
}

.object-inline > * {
	display: inline-block;
	min-width: 20px;
	vertical-align: top;
	white-space: normal;
}

.object-inline > * + * {
	margin-left: 5px;
}

.oh {
	position: relative;
	overflow: hidden;
}

.text-decoration-lines {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.text-decoration-lines-content {
	position: relative;
	display: inline-block;
	min-width: 170px;
	font-size: 13px;
	text-transform: uppercase;
}

.text-decoration-lines-content::before, .text-decoration-lines-content::after {
	content: '';
	position: absolute;
	height: 1px;
	background: #ebebeb;
	top: 50%;
	width: 100vw;
}

.text-decoration-lines-content::before {
	left: 0;
	transform: translate3d(-100%, 0, 0);
}

.text-decoration-lines-content::after {
	right: 0;
	transform: translate3d(100%, 0, 0);
}

* + .text-decoration-lines {
	margin-top: 30px;
}

p.rights {
	font-size: 15px;
	color: #151515;
}

p.rights a {
	color: inherit;
}

p.rights a:hover {
	color: #ffb95f;
}

[style*='z-index: 1000;'] {
	z-index: 1101 !important;
}

.text-block > * {
	margin-left: .125em;
	margin-right: .125em;
}

@media (min-width: 1200px) {
	.offset-right-xl-30 {
		margin-right: 30px;
	}
	.offset-left-xl-70 {
		margin-left: 70px;
	}
}

@media (min-width: 1600px) {
	.isotope.gutters-xxl-90 {
		margin-left: -45px;
		margin-right: -45px;
	}
	.isotope.gutters-xxl-90 [class*='col-'] {
		padding-left: 45px;
		padding-right: 45px;
	}
}

.title-group h2 + h4 {
	margin-top: 22px;
}

.title-group * + .big {
	margin-top: 25px;
}

.position-static {
	position: static;
}

/** @group Plugins */
/*
*
* Animate.css
*/
.animated {
	-webkit-animation-duration: .7s;
	animation-duration: .7s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	opacity: 1;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}

html:not(.lt-ie10) .not-animated {
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 40px, 0);
		transform: translate3d(0, 40px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 40px, 0);
		transform: translate3d(0, 40px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -40px, 0);
		transform: translate3d(0, -40px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -40px, 0);
		transform: translate3d(0, -40px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-40px, 0, 0);
		transform: translate3d(-40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-40px, 0, 0);
		transform: translate3d(-40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(40px, 0, 0);
		transform: translate3d(40px, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

@-webkit-keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInLeft {
	0% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideInRight {
	0% {
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
}

@-webkit-keyframes slideOutDown {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

@keyframes slideOutDown {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
}

.slideOutDown {
	-webkit-animation-name: slideOutDown;
	animation-name: slideOutDown;
}

/*
*
* Preloader
*/
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: #ffffff;
	transition: .3s all ease;
}

.preloader.loaded {
	opacity: 0;
	visibility: hidden;
}

.preloader-body {
	text-align: center;
}

.preloader-body p {
	position: relative;
	right: -8px;
}

.wrapper-triangle {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 304px;
	height: 250px;
	transform: translate(-50%, -50%);
}

.line-triangle {
	position: absolute;
	width: 250px;
	height: 54px;
	border: 1px solid transparent;
	transform-origin: 0 100%;
}

.line-triangle:nth-last-of-type(1) {
	left: 313px;
	bottom: -21px;
	transform: rotate(-120deg);
	transform-origin: 0 100%;
}

.line-triangle:nth-last-of-type(2) {
	left: 156px;
	top: -54px;
	transform: rotate(120deg);
	transform-origin: 0 100%;
}

.line-triangle:nth-last-of-type(3) {
	top: 217px;
	left: 0;
}

.triangle:nth-of-type(1) {
	animation: tri1 1.5s linear infinite;
}

@keyframes tri1 {
	0% {
		opacity: 0;
	}
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(2) {
	animation: tri2 1.5s linear infinite;
}

@keyframes tri2 {
	0% {
		opacity: 0;
	}
	14.28571% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(3) {
	animation: tri3 1.5s linear infinite;
}

@keyframes tri3 {
	0% {
		opacity: 0;
	}
	28.57143% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(4) {
	animation: tri4 1.5s linear infinite;
}

@keyframes tri4 {
	0% {
		opacity: 0;
	}
	42.85714% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(5) {
	animation: tri5 1.5s linear infinite;
}

@keyframes tri5 {
	0% {
		opacity: 0;
	}
	57.14286% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(6) {
	animation: tri6 1.5s linear infinite;
}

@keyframes tri6 {
	0% {
		opacity: 0;
	}
	71.42857% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(7) {
	animation: tri7 1.5s linear infinite;
}

@keyframes tri7 {
	0% {
		opacity: 0;
	}
	85.71429% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-bottom: 54px solid #ffb95f;
	animation: tri 1.5s linear infinite;
}

.triangle:nth-of-type(1) {
	left: 0px;
}

.triangle:nth-of-type(2) {
	left: 31px;
}

.triangle:nth-of-type(3) {
	left: 63px;
}

.triangle:nth-of-type(4) {
	left: 94px;
}

.triangle:nth-of-type(5) {
	left: 125px;
}

.triangle:nth-of-type(6) {
	left: 156px;
}

.triangle:nth-of-type(7) {
	left: 188px;
}

.triangle:nth-child(even) {
	transform: rotate(180deg);
	top: 0;
}

.triangle:nth-child(1) {
	animation: none;
}

.line:nth-child(2) .triangle:nth-child(1):before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: -22px;
	bottom: -77px;
	background: transparent;
	border: 13px solid transparent;
	border-bottom: 21px solid #F1ECDB;
	animation: tri 1.5s linear infinite;
}

.pen {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 312.5px;
	transform-origin: 50% 0;
	animation: move 1.5s cubic-bezier(0, 0, 0.5, 0.85) infinite;
}

@keyframes tri {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes move {
	0% {
		transform: scale(2.45);
	}
	100% {
		transform: scale(0.5);
	}
}

/*
*
* ToTop
*/
.ui-to-top {
	position: fixed;
	overflow: hidden;
	right: 15px;
	bottom: 15px;
	z-index: 100;
	width: 50px;
	height: 50px;
	font-size: 30px;
	line-height: 50px;
	color: #ffffff;
	background: #ffb95f;
	text-align: center;
	text-decoration: none;
	transition: .3s all ease-in-out;
	transform: translate3d(0, 100px, 0);
}

.ui-to-top:focus, .ui-to-top:hover {
	color: #ffffff;
	background: #5ac6e2;
	text-decoration: none;
}

.ui-to-top.active {
	transform: translate3d(0, 0, 0);
}

html.mobile .ui-to-top,
html.tablet .ui-to-top {
	display: none !important;
}

@media (min-width: 576px) {
	.ui-to-top {
		right: 40px;
		bottom: 40px;
	}
}

/** @section Isotope */
.isotope {
	z-index: 0;
	display: block;
	transition: .3s ease;
}

.isotope-sizer {
	height: 0;
	margin-top: -1px;
	margin-bottom: 0;
}

.isotope-item {
	display: block;
	will-change: transform;
	backface-visibility: hidden;
	transition: .1s opacity ease-in;
}

.isotope-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

* + .isotope {
	margin-top: 28px;
}

/*
*
* Owl Carousel
*/
.owl-carousel .animated {
	animation-duration: 1000ms;
	animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
	z-index: 0;
}

.owl-carousel .owl-animated-out {
	z-index: 1;
}

.owl-carousel .fadeOut {
	animation-name: fadeOut;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
	transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	/* position relative and z-index fix webkit rendering fonts issue */
	position: relative;
	z-index: 1;
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	/* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer;
	user-select: none;
}

.owl-carousel.owl-loaded {
	display: block;
}

.owl-carousel.owl-loading {
	opacity: 0;
	display: block;
}

.owl-carousel.owl-hidden {
	opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
	display: none;
}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.owl-carousel .owl-grab {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.owl-carousel.owl-rtl {
	direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
	float: right;
}

/* No Js */
.no-js .owl-carousel {
	display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity 400ms ease;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000000;
}

.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	font: 400 40px/80px 'FontAwesome';
	cursor: pointer;
	z-index: 1;
	transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:before {
	content: '\f144';
}

.owl-carousel .owl-video-play-icon:hover {
	transform: scale(1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
	display: none;
}

.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
}

/*
 * Owl Navigation
 */
.owl-nav.disabled {
	display: none !important;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 50%;
	width: 52px;
	height: 52px;
	transform: translateY(-50%);
	font: 400 28px/52px "Material Design Icons";
	color: #ffffff;
	background: #ffb95f;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.owl-prev:hover,
.owl-next:hover {
	background: #151515;
}

.owl-prev {
	left: 0;
}

.owl-prev::before {
	content: '\f14a';
}

.owl-next {
	right: 0;
}

.owl-next::before {
	content: '\f14f';
}

/*
 * Owl Pagination
 */
.owl-dots {
	text-align: center;
	margin-top: 10px;
}

.owl-dots.disabled {
	display: none !important;
}

.owl-dot {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	transition: .2s;
}

.owl-dot:only-child {
	display: none;
}

.owl-dot:hover, .owl-dot:focus {
	background-color: #e1e1e1;
}

.owl-dot.active {
	background-color: #e1e1e1;
}

.owl-carousel.owl-carousel-light-dots .owl-dot {
	border-color: #ffffff;
}

.owl-carousel.owl-carousel-light-dots .owl-dot:hover, .owl-carousel.owl-carousel-light-dots .owl-dot:focus {
	background-color: #ffffff;
}

.owl-carousel.owl-carousel-light-dots .owl-dot.active {
	background-color: #ffffff;
}

.owl-style-1 .owl-stage-outer {
	padding: 15% 0;
}

.owl-style-1 .owl-item.active .box-device {
	transform: scale(1.18);
	z-index: 1;
}

.owl-style-1 .owl-item.active .box-device::before {
	display: inline-block;
	position: absolute;
	content: '';
	top: 0;
	right: 4px;
	bottom: 0;
	left: 2px;
	border-radius: 30px;
	box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.owl-style-1 .owl-item.active + .owl-item.active {
	opacity: .6;
}

.owl-style-1 .owl-item.active + .owl-item.active .box-device {
	transform: none;
}

.owl-style-1 .owl-item.active + .owl-item.active .box-device::before {
	display: none;
}

.owl-style-2 .owl-stage-outer {
	padding-top: 15px;
}

.owl-style-2 .owl-prev {
	left: -15px;
}

.owl-style-2 .owl-next {
	right: -15px;
}

@media (min-width: 1600px) {
	.owl-style-2 .owl-prev {
		left: -90px;
	}
	.owl-style-2 .owl-next {
		right: -90px;
	}
}

* + .owl-style-2 {
	margin-top: 35px;
}

/** @section Material Parallax */
.parallax-container {
	position: relative;
	overflow: hidden;
	background: #47505f;
}

.material-parallax {
	position: absolute;
	top: 0;
	left: -1px;
	right: -1px;
	bottom: 0;
	z-index: 0;
}

.parallax-content {
	position: relative;
	z-index: 1;
}

.material-parallax img {
	display: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	min-width: 101%;
	min-height: 101%;
	max-width: none;
	transform: translate3d(-50%, 0, 0);
}

.parallax-disabled {
	background-size: cover;
	background-position: center;
}

html:not(.ie-11):not(.ios) .parallax-disabled {
	background-attachment: fixed;
}

.parallax-scene-js {
	overflow: hidden;
}

.parallax-scene-js .layer {
	position: relative !important;
}

.container-scene {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
}

.container-scene > * {
	position: absolute;
	width: 48%;
}

.container-scene a {
	display: block;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.ipad .container-scene > *,
	.mobile .container-scene > *,
	.tablet .container-scene > * {
		width: 57%;
	}
	.ipad .container-scene .layer-1,
	.mobile .container-scene .layer-1,
	.tablet .container-scene .layer-1 {
		width: 69%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.ipad .container-scene > *,
	.mobile .container-scene > *,
	.tablet .container-scene > * {
		width: 50%;
	}
	.ipad .container-scene .layer-1,
	.mobile .container-scene .layer-1,
	.tablet .container-scene .layer-1 {
		width: 55%;
	}
}

@media (min-width: 768px) {
	.container-scene {
		display: block;
	}
	.layer-1 {
		top: 18%;
		left: 0;
	}
	.layer-2 {
		bottom: 10%;
		right: 14%;
	}
	.layer-3 {
		top: -4%;
		right: -2%;
	}
}

@media (min-width: 992px) {
	.container-scene {
		left: calc(50% - 45px);
	}
	.container-scene > * {
		width: 42%;
	}
	.layer-2 {
		bottom: 12%;
		right: 8%;
	}
	.layer-3 {
		top: -7%;
	}
}

@media (min-width: 1200px) {
	.layer-1 {
		top: 14%;
	}
	.layer-2 {
		bottom: 10%;
	}
	.layer-3 {
		top: -10%;
	}
}

@media (min-width: 1600px) {
	.layer-1 {
		top: 12%;
	}
	.layer-2 {
		bottom: 11%;
	}
	.layer-3 {
		top: -24%;
	}
}
.tg-img {
padding: 20px;
}
.tg-cap {
align: center;
}